APP_NAME=Manga
APP_ENV=production
APP_KEY = base64:Z/FBG5d//85ECPVg7UyWhtbKUiI9rLLJvb1XQmMqRRU=
APP_DEBUG=false
APP_URL=https://manga.onrender.com

APP_LOCALE=ja
APP_FALLBACK_LOCALE=ja

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=sqlite

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=array